<h1>Ohjelmistojen tietoturva: Injektiot</h1>

<p>Tällä sivustolla pääset kokeilemaan erilaisia injektiohyökkäyksiä.
Siirry haluamaasi tehtävään vasemman laidan navigaatiopalkista.
On suositeltavaa tehdä tehtävät järjestyksessä.</p>

<p>Tarkoituksena jokaisessa tehtävässä on hyödyntää puutteellista syötteiden tarkistusta.
Jokaisella tehtäväsivulla kerrotaan tarkemmin, mikä tavoitteesi tehtävässä on.</p>

<p><b>Vaikka sinulla onkin pääsy tietokantaan, älä mene lukemaan tai kirjoittaamaan tietoja
tietokannan kautta. Tässä tehtävässä olet hakkeri, jonka pitää selvittää tarvitsemansa tiedot
vain nettisivun tarjoaman käyttöliittymän kautta.</b></p>
